absl-py==2.3.1
aiofiles==23.2.1
aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiosignal==1.4.0
albucore==0.0.24
albumentations==2.0.8
alembic==1.17.1
annotated-doc==0.0.3
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.11.0
asteroid-filterbanks==0.4.0
attrs==25.4.0
audeer==2.3.1
audiofile==1.5.1
audioread==3.1.0
audmath==1.4.4
av==16.0.1
backoff==2.2.1
bcrypt==5.0.0
brotli==1.2.0
build==1.3.0
cachetools==6.2.1
certifi==2025.10.5
cffi==2.0.0
charset-normalizer==3.4.4
chromadb==1.3.4
click==8.3.0
cloudpickle==3.1.2
colorama==0.4.6
coloredlogs==15.0.1
colorlog==6.10.1
contourpy==1.3.3
ctranslate2==4.6.1
cycler==0.12.1
Cython==3.2.0
decorator==5.2.1
distro==1.9.0
dora_search==0.1.12
durationpy==0.10
easydict==1.13
einops==0.8.1
fastapi==0.121.1
faster-whisper==1.1.1
ffmpeg-python==0.2.0
ffmpy==0.6.4
filelock==3.20.0
flake8==7.3.0
flatbuffers==25.9.23
fonttools==4.60.1
frozenlist==1.8.0
fsspec==2025.10.0
future==1.0.0
google-auth==2.43.0
googleapis-common-protos==1.72.0
gradio==5.29.0
gradio-i18n==0.3.1
gradio_client==1.10.0
greenlet==3.2.4
groovy==0.1.2
grpcio==1.76.0
h11==0.16.0
httpcore==1.0.9
httptools==0.7.1
httpx==0.28.1
huggingface-hub==0.36.0
humanfriendly==10.0
hydra-colorlog==1.2.0
hydra-core==1.3.2
HyperPyYAML==1.2.2
idna==3.11
ImageIO==2.37.2
importlib_metadata==8.7.0
importlib_resources==6.5.2
iniconfig==2.3.0
insightface==0.7.3
Jinja2==3.1.6
joblib==1.5.2
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
julius==0.2.7
kiwisolver==1.4.9
kubernetes==34.1.0
lameenc==1.8.1
langcodes==3.4.1
language_data==1.3.0
lazy_loader==0.4
librosa==0.11.0
lightning==2.5.6
lightning-utilities==0.15.2
llvmlite==0.45.1
Mako==1.3.10
marisa-trie==1.3.1
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib==3.10.7
mccabe==0.7.0
mdurl==0.1.2
ml_collections==1.1.0
ml_dtypes==0.5.3
mmh3==5.2.0
more-itertools==10.8.0
mpmath==1.3.0
msgpack==1.1.2
multidict==6.7.0
musdb==0.4.3
museval==0.4.1
mypy==1.18.2
mypy_extensions==1.1.0
networkx==3.5
nodejs-wheel-binaries==22.20.0
numba==0.62.1
numpy==2.2.6
oauthlib==3.3.1
omegaconf==2.3.0
onnx==1.19.1
onnx2pytorch==0.5.3
onnxruntime==1.23.2
openai-whisper @ git+https://github.com/jhj0517/jhj0517-whisper.git@197244318d5d75d9d195bff0705ab05a591684ec
opencc-python-reimplemented==0.1.7
opencv-python-headless==4.12.0.88
opentelemetry-api==1.38.0
opentelemetry-exporter-otlp-proto-common==1.38.0
opentelemetry-exporter-otlp-proto-grpc==1.38.0
opentelemetry-proto==1.38.0
opentelemetry-sdk==1.38.0
opentelemetry-semantic-conventions==0.59b0
openunmix==1.3.0
optuna==4.6.0
orjson==3.11.4
overrides==7.7.0
packaging==25.0
pandas==2.3.3
pathspec==0.12.1
pillow==11.3.0
platformdirs==4.5.0
pluggy==1.6.0
pooch==1.8.2
posthog==5.4.0
prettytable==3.16.0
primePy==1.3
propcache==0.4.1
protobuf==6.33.0
pyaml==25.7.0
pyannote-core==6.0.1
pyannote-database==6.1.0
pyannote-metrics==4.0.0
pyannote-pipeline==4.0.0
pyannote.audio==3.3.2
pyasn1==0.6.1
pyasn1_modules==0.4.2
pybase64==1.4.2
pycodestyle==2.14.0
pycparser==2.23
pydantic==2.11.10
pydantic_core==2.33.2
pydub==0.25.1
pyflakes==3.4.0
Pygments==2.19.2
pyparsing==3.2.5
PyPika==0.48.9
pyproject_hooks==1.2.0
pyreadline3==3.5.4
pyrubberband @ git+https://github.com/jhj0517/pyrubberband.git@0287782593eabd77fcf29682899d3e9b25cbb5c6
pytest==9.0.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-multipart==0.0.20
pytorch-lightning==2.5.6
pytorch-metric-learning==2.9.0
pytubefix==10.2.1
pytz==2025.2
PyYAML==6.0.3
RapidFuzz==3.14.3
referencing==0.37.0
regex==2025.11.3
requests==2.32.5
requests-oauthlib==2.0.0
retrying==1.4.2
rich==14.2.0
rpds-py==0.28.0
rsa==4.9.1
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.14
ruff==0.14.4
safehttpx==0.1.7
safetensors==0.6.2
scikit-image==0.25.2
scikit-learn==1.7.2
scipy==1.16.3
semantic-version==2.10.0
semver==3.0.4
sentence-transformers==5.1.2
sentencepiece==0.2.1
shellingham==1.5.4
simplejson==3.20.2
simsimd==6.5.3
six==1.17.0
sniffio==1.3.1
sortedcontainers==2.4.0
soundfile==0.13.1
soxr==1.0.0
speechbrain==1.0.3
SQLAlchemy==2.0.44
starlette==0.49.3
stempeg==0.2.6
stringzilla==4.2.3
submitit==1.5.3
sympy==1.14.0
tenacity==9.1.2
tensorboardX==2.6.4
threadpoolctl==3.6.0
tifffile==2025.10.16
tiktoken==0.12.0
tokenizers==0.21.4
tomlkit==0.13.3
torch==2.8.0+cu126
torch-audiomentations==0.12.0
torch_pitch_shift==1.2.5
torchaudio==2.8.0+cu126
torchmetrics==1.8.2
torchvision==0.23.0+cu126
tqdm==4.67.1
transformers==4.47.1
treetable==0.2.6
typer==0.20.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.3.0
uvicorn==0.38.0
uvr @ git+https://github.com/jhj0517/ultimatevocalremover_api.git@3543be1349ce601568787b69cca0c1f8acba7c2e
watchfiles==1.1.1
wcwidth==0.2.14
websocket-client==1.9.0
websockets==15.0.1
yarl==1.22.0
zipp==3.23.0
